.title {
  color: #333;
  text-align: start;
}
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10rem;
  font-size: 32px;
  font-weight: 500;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
